{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path("app_home") }}">Page Utilisateur</a>
    <h1>Page Admin</h1>

    <h2>Mes compétences</h2>

    <div class="skillsMain row">

        <div class="col-6">
            <div class="skillsRect">
                <h2>Front-end</h2>
                <div class="d-flex">
                    {% for skill in skills %}
                    <div class="skillBadge mx-4 py-2">
                        <h3>{{ skill.name }}</h3>
                        <div class="badgeAdmin">
                            <a class=" badge rounded-pill text-bg-danger" href="{{ path("app_delete_skill") }}"><i class="bi bi-trash"></i></a>
                            <a class="badge rounded-pill text-bg-warning" href="{{ path("app_edit_skill") }}"><i class="bi bi-pen"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>

    <a class="btn btn-success" href="{{ path("app_create_skill") }}">create skill</a>

{% endblock %}
